@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #08438B; 
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

nav .logo img {
    width: 230px;
    position: relative;
    left: -49px;

    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0px 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 12px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 3px black;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #80aaff;
}

nav .menu-btn i {
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #08438B ;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        color: #8fa6cb;
        font-weight: bold;
        background-color: #08438B;
        text-shadow: 2px 2px 3px  black;
    }
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 10%;
}

.header-text {
    max-width: 37rem;
}

.header-text .text-h1 {
    font-size: 3.3rem;
    font-family: 'Bungee', cursive;

}

.header-text .text-h2 {
    font-size: 1.5rem;
    margin-bottom: .7em;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.header-text p {
    margin-bottom: 3em;
    font-size: 1em;
    font-weight: 500;
}

.header-btn {
    padding: 15px 45px;
    background-color: #08438B;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.3s;
    text-decoration: none;
}

.header-btn:hover {
    background-color: green;
    text-decoration: underline;
}

.header-img {
    width: 600px;
}

@media (max-width: 930px) {
    .header {
        
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .header-img {
        width: 90%;
        justify-self: center;
        
    }
}

div.banner {
    height: 100px;
    width: 100%;
    background-color: #08438B;

}

.banner-p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 5px black;
    padding: 15px;
    
}

.div-btn {
    background-color: #08438B;
    text-align: center;
    padding: 15px;
}
.btn-server {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
    font-weight: 500;
    background-color: #80aaff;
    padding: 14px 40px;
    margin: px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.359), 0 6px 20px 0 rgba(0, 0, 0, 0.183);
}


.btn-server:hover {
    background-color: #5395E6;

}

/**Estilos da página de serviços**/



.section {
    padding: 4.5rem 0 2rem;
}

.section--title {
    font-family: 'Bungee', cursive;
    font-size: 35px;
    padding-left: 1.25rem;
    margin-bottom: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 45px;
}

.container {
    margin-right: 1.5rem;
    margin-left: 1.5rem;

    
}

.specialty--img {
    width: 100px;
    margin-bottom: 1rem;
    transition: .4s;
}

.specialty--category {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 200px ;
    justify-content: center;
    row-gap: 2.5rem;
}

.specialty--group  {
    text-align: center;
}

.specialty--title {
    font-size: 20px;
    margin-bottom: .25rem;
}

.specialty--group:hover .specialty--img {
    transform: translateY(-.25rem);
}

@media screen and (min-width: 576px) {
    .specialty--category {
        grid-template-columns: repeat(2, 200px);
        column-gap: 3rem;
    }
}

@media screen  and (min-width: 744px) {
    .specialty--category {
        grid-template-columns: repeat(3, 200px);
        column-gap: 3rem;
    }
}


/**  Estilo da coluna de marcas **/

.marcas-title {
    font-family: 'Bungee', cursive;
    font-size: 28px;
    padding-left: 1.25rem;
    margin-bottom: 2.5rem;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 45px;
}

.marcas-img {
    width: 120px;
    margin-bottom: 1rem;
    transition: .4s;
}

.marcas--categoria {
    margin-top: rem;
    display: grid;
    grid-template-columns: 120px ;
    justify-content: center;
    row-gap: 2.5rem;
}

@media screen and (min-width: 320px) {
    .marcas--categoria {
        grid-template-columns: repeat(2, 120px);
        column-gap: 3rem;
    }
}

@media screen  and (min-width: 656px) {
    .marcas--categoria {
        grid-template-columns: repeat(4, 120px);
        column-gap: 3rem;
    }
}
